@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #f2f2f2;
  font: 13px Arial; }

a {
  text-decoration: none; }

h1 {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold; }

h2 {
  font-size: 25px;
  line-height: 40px;
  font-weight: bold; }

h3 {
  font-size: 20px;
  line-height: 35px;
  font-weight: bold; }

p {
  line-height: 20px; }

.btn {
  background: #eeeeee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #e3e3e3);
  background-image: -moz-linear-gradient(top, #eeeeee, #e3e3e3);
  background-image: -ms-linear-gradient(top, #eeeeee, #e3e3e3);
  background-image: -o-linear-gradient(top, #eeeeee, #e3e3e3);
  background-image: linear-gradient(to bottom, #eeeeee, #e3e3e3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr=$top, EndColorStr=$end);
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color: #909090;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  border: solid #d7d7d7 1px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  margin-left: 5px; }

.btn:last-child {
  margin-left: 0; }

.btn:hover {
  background: #e3e3e3;
  background-image: -webkit-linear-gradient(top, #e3e3e3, #eeeeee);
  background-image: -moz-linear-gradient(top, #e3e3e3, #eeeeee);
  background-image: -ms-linear-gradient(top, #e3e3e3, #eeeeee);
  background-image: -o-linear-gradient(top, #e3e3e3, #eeeeee);
  background-image: linear-gradient(to bottom, #e3e3e3, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr=$top, EndColorStr=$end); }

.btn-cut-right {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0; }

.btn-cut-right:before {
  content: '';
  width: 18px;
  height: 19px;
  background: #eeeeee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #e3e3e3);
  background-image: -moz-linear-gradient(top, #eeeeee, #e3e3e3);
  background-image: -ms-linear-gradient(top, #eeeeee, #e3e3e3);
  background-image: -o-linear-gradient(top, #eeeeee, #e3e3e3);
  background-image: linear-gradient(to bottom, #eeeeee, #e3e3e3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr=$top, EndColorStr=$end);
  position: absolute;
  left: -11px;
  top: 3px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-left: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  z-index: 1; }

.btn-cut-right:hover:before {
  background: #e3e3e3;
  background-image: -webkit-linear-gradient(top, #e3e3e3, #eeeeee);
  background-image: -moz-linear-gradient(top, #e3e3e3, #eeeeee);
  background-image: -ms-linear-gradient(top, #e3e3e3, #eeeeee);
  background-image: -o-linear-gradient(top, #e3e3e3, #eeeeee);
  background-image: linear-gradient(to bottom, #e3e3e3, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr=$top, EndColorStr=$end); }

.dropdown__flag {
  display: none;
  visibility: hidden; }
.dropdown__label {
  display: block;
  color: #555; }
  .dropdown__label:hover {
    color: #000; }
  .dropdown__label:after {
    margin-left: 5px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 15px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    cursor: pointer; }
.dropdown__expand {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s; }
.dropdown__toggle:checked + .dropdown__label:after {
  content: "\f056"; }
.dropdown__toggle:checked + .dropdown__label + .dropdown__expand {
  height: 245px; }

.label {
  display: inline;
  padding: 2px 6px 2px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #ce0033;
  text-transform: uppercase; }

.label-default {
  border: 1px solid #777;
  background-color: #777; }

.label-primary {
  background-color: #ce0033; }

.label-inverse {
  color: #ce0033; }

.navbar {
  height: 50px;
  background: #fff url(../img/logo.jpg) 50% no-repeat;
  background-size: auto 50px;
  line-height: 50px; }
  .navbar__wrap {
    padding: 0 10px; }
  .navbar__toogle {
    font-size: 25px; }

.tabs {
  min-width: 320px;
  padding: 0px;
  margin: 0 auto;
  /* стили для активной вкладки */
  /* активация секций с помощью переключателя :checked */ }
  .tabs__section {
    display: none;
    background: #f3f3f3; }
  .tabs__input {
    display: none; }
  .tabs__label {
    display: inline-block;
    margin: 0 0 -4px;
    padding: 10px 25px;
    font-weight: 600;
    width: 50%;
    text-transform: uppercase;
    text-align: center;
    color: #aaa;
    border: 1px solid #ddd;
    background: #d9d9d9;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0; }
  .tabs__label[for*="1"]:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 15px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    color: #ce0033; }
  .tabs__label[for*="2"]:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 15px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    color: #ce0033; }
  .tabs__label:hover {
    color: #888;
    cursor: pointer; }
  .tabs__input:checked + .tabs__label {
    color: #555;
    border: 1px solid #ddd;
    border-bottom: 1px solid #f3f3f3;
    background: #f3f3f3; }
  .tabs #tab1:checked ~ #content1,
  .tabs #tab2:checked ~ #content2 {
    display: block; }

.ellipsis {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

.splitter {
  margin-top: 10px; }

.pull-right {
  text-align: right; }

.text-inactive {
  color: #9a9a9a; }

.text-primary {
  color: #ce0033; }

.container {
  margin: 0 auto;
  width: 400px; }

.column {
  width: 33.3%;
  display: inline-block;
  padding: 0 10px; }

.col-2 {
  width: 50%;
  display: inline-block; }

.block {
  border: 1px solid #ddd;
  padding: 10px 10px;
  background: #fff; }
  .block:first-child {
    background: #f3f3f3; }

.block-links {
  color: #f3f3f3;
  border: 1px solid #ddd;
  border-top: 0;
  direction: rtl; }
  .block-links__column {
    line-height: 30px;
    direction: ltr;
    border-bottom: 1px solid #ddd;
    padding: 0 10px; }
    .block-links__column:last-child {
      border-bottom: 0; }
  .block-links__link {
    color: #555;
    text-transform: uppercase;
    font-size: 15px; }
    .block-links__link:hover {
      color: #000;
      cursor: pointer; }

.area-title {
  font-size: 14px;
  text-transform: uppercase; }

.article-title {
  text-decoration: underline; }

.sub-title {
  margin-left: 10px; }

.home-title {
  font-size: 24px; }

.project-table__row {
  line-height: 25px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  width: 100%;
  margin: 0 0 -1px; }
  .project-table__row .col-2:first-child {
    font-weight: bold; }
  .project-table__row:last-child {
    border-bottom: 0; }

.home-btn {
  display: inline-block;
  width: 100%;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
