@import "../helpers/variables";

.block {
  border: 1px solid $home-page-border-color;
  padding: 10px 10px;
  background: $block-background-color;

  &:first-child {
    background: $background-color;
  }
}

.block-fluid {
  @extend .block;
  padding: 10px 0;
}

.block-flex {
  @extend .block;
  display: flex;
  flex-wrap: wrap;
}

.block-links {
  color: $block-text-color;
  border: 1px solid $home-page-border-color;
  border-top: 0;
  direction: rtl;

  &__column {
    line-height: 30px;
    direction: ltr;
    border-bottom: 1px solid $home-page-border-color;
    padding: 0 10px;

    &:last-child {
      border-bottom: 0;
    }
  }

  @media screen and (min-width: $tablet-min-width) {
    &__column {
      width: 33.3%;
      display: inline-block;
      border: 0;
      border-left: 1px solid $home-page-border-color;
      text-align: center;

      &:last-child {
        border-left: 0;
      }
    }
  }

  &__link {
    color: $block-link-text-color;
    text-transform: uppercase;
    font-size: 15px;

    @media screen and (min-width: $tablet-min-width) {
      & {
        font-size: 13px;
      }
    }

    &:hover {
      color: $block-active-link-text-color;
      cursor: pointer;
    }
  }
}

.area-title {
  font-size: 14px;
  text-transform: uppercase;
}

.article-title {
  text-decoration: underline;
}

.sub-title {
  margin-left: 10px;
}

.home-title {
  font-size: 22px;
}

.excel-icon {
  background: url(../img/excel.png);
  background-size: 14px auto;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: bottom;
}

.column-excel-xs {
  flex: 0 0 33.3%;
  padding: 0 10px;

  @media screen and (min-width: $tablet-min-width) {
    & {
      display: none;
    }
  }
}

.column-excel-md {
  display: none;

  @media screen and (min-width: $tablet-min-width) {
    & {
      display: inline-block;
    }
  }
}

.project-table {
  &__row {
    line-height: 25px;
    border-top: 1px solid $home-page-border-color;
    border-bottom: 1px solid $home-page-border-color;
    display: inline-block;
    width: 100%;
    margin: 0 0 -1px;

    & .col-2:first-child {
      font-weight: bold;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  @media screen and (min-width: $tablet-min-width) {
    &__column {
      width: 50%;
      display: inline-block;
      padding: 0 10px;
      vertical-align: top;
    }
  }
}

.home-btn {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.flex-item-1 {

  @media screen and (min-width: $tablet-min-width) {
    & {
      order: 0;
    }
  }
}

.flex-item-2 {
  @media screen and (min-width: $tablet-min-width) {
    & {
      order: 1;
    }
  }
}

.flex-item-3 {
  @media screen and (min-width: $tablet-min-width) {
    & {
      order: 2;
    }
  }
}

.input-search {
  line-height: 23px;
}