.block {
  border: 1px solid #ddd;
  padding: 10px 10px;
  background: #fff;

  &:first-child {
    background: #f3f3f3;
  }
}

.block-links {
  color: #f3f3f3;
  border: 1px solid #ddd;
  border-top: 0;
  direction: rtl;

  &__column {
    line-height: 30px;
    direction: ltr;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__link {
    color: #555;
    text-transform: uppercase;
    font-size: 15px;

    &:hover {
      color: #000;
      cursor: pointer;
    }
  }
}

.area-title {
  font-size: 14px;
  text-transform: uppercase;
}

.article-title {
  text-decoration: underline;
}

.sub-title {
  margin-left: 10px;
}

.home-title {
  font-size: 24px;
}

.project-table {
  &__row {
    line-height: 25px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    width: 100%;
    margin: 0 0 -1px;

    & .col-2:first-child {
      font-weight: bold;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.home-btn {
  display: inline-block;
  width: 100%;
  text-align: center;
}