@import "../helpers/mixins";
@import "../helpers/variables";

.btn {
  @include btn-background($btn-start-color-default, $btn-end-color-default);
  @include border-radius(5px, 5px, 5px, 5px);
  color: $btn-text-color-default;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 0;
  border: 1px solid $btn-border-color-default;
  text-decoration: none;
  cursor: pointer;

  &:last-child {
    margin-left: 0;
  }

  &:hover {
    @include btn-background($btn-end-color-default, $btn-start-color-default);
  }
}


.btn-cut-right {
  @include border-radius(0, 5px, 5px, 0);
  border-left: 0;
  z-index: 5  ;
  position: relative;
}

.btn-chevron-right {
  padding-left: 20px;
  position: relative;

  &:before {
    content: '';
    width: 25px;
    height: 25px;
    @include btn-background($btn-start-color-default, $btn-end-color-default);
    position: absolute;
    left: 8px;
    top: 5px;
    @include rotate(45deg);
    border-left: 1px solid $btn-border-color-default;
    border-bottom: 1px solid $btn-border-color-default;
    z-index: 0;
  }

  &:hover:before {
    @include btn-background($btn-end-color-default, $btn-start-color-default);
  }
}

.btn-excel-md {
  padding: 10px 20px;
}