@import "../helpers/mixins";

.dropdown {
  &__flag {
    display: none;
    visibility: hidden;
  }

  &__label {
    display: block;
    color: #555;

    &:hover {
      color: #000;
    }

    &:after {
      margin-left: 5px;
      @include insert-icon("\f055");
      cursor: pointer;
    }
  }

  &__expand {
    height: 0;
    overflow: hidden;
    @include transition(height, 0.5s);
  }

  &__toggle:checked + &__label:after  {
    content: "\f056";
  }

  &__toggle:checked + &__label + &__expand {
    height: 245px;
  }

}