@import "../helpers/mixins";
@import "../helpers/variables";

.dropdown {
  &__flag {
    display: none;
    visibility: hidden;
  }

  &__label {
    display: block;
    color: $dropdown-label-text-color;

    &:hover {
      color: $dropdown-active-label-text-color;
    }

    &:after {
      margin-left: 5px;
      @include insert-icon("\f055");
      cursor: pointer;
    }
  }

  &__expand {
    height: 0;
    overflow: hidden;
    @include transition(height, 0.5s);
  }

  &__toggle:checked + &__label:after  {
    content: "\f056";
  }

  &__toggle:checked + &__label + .column-excel-md + &__expand {
    height: 255px;
    margin-top: 10px;

    @media screen and (min-width: $desktop-min-width) {
      height: 225px;
    }

    @media screen and (min-width: $large-device-min-width) {
      height: 180px;
    }
  }

}