@import "../helpers/mixins";
@import "../helpers/helpers";

.label {
    display: inline;
    padding: 2px 6px 2px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: $label-text-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    @include border-radius(5px, 5px, 5px, 5px);

    border: 1px solid $label-primary-color;
    text-transform: uppercase;
}

.label-default {
  border: 1px solid $label-default-color;
  background-color: $label-default-color;
}

.label-primary {
  background-color: $label-primary-color;
}

.label-inverse {
  color: $label-primary-color;
}