@import "../helpers/mixins";
@import "../helpers/variables";

.tabs {
  padding: 0;
  margin: 0 auto;

  &__section {
    display: none;
    background: $tabs-section-background-color;
  }

  &__input {
    display: none;
  }

  &__label {
    display: inline-block;
    margin: 0 0 -4px;
    padding: 10px 10px;
    font-weight: 600;
    width: 50%;
    text-transform: uppercase;
    text-align: center;
    color: $tabs-label-text-color;
    border: 1px solid $tabs-label-border-color;
    background: $tabs-label-background-color;
    @include border-radius(10px, 10px, 0, 0)
  }

  &__label:hover {
    color: $tabs-active-label-text-color;
    cursor: pointer;
  }

  /* стили для активной вкладки */
  &__input:checked + &__label {
    color: $tabs-active-label-text-color;
    border-bottom: 1px solid $tabs-section-background-color;
    background: $tabs-section-background-color;
  }

  /* активация секций с помощью переключателя :checked */
  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2 {
    display: block;
  }

}