@import "../helpers/variables";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	background: $background-color;
	font: 13px Arial;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
}

h2 {
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  line-height: 35px;
  font-weight: bold;
}

p {
  line-height: 20px;
}

input {
  padding: 5px 10px;
  line-height: 10px;
  width: 100%;
}