@import "../helpers/variables";

.content {
  display: inline-block;
  margin-top: 50px;

  @media screen and (min-width: $tablet-min-width) {
    margin-top: 0;
    width: 100%;
    padding-left: 205px;
  }
}

.container {
  padding: 0 10px;

  @media screen and (min-width: $tablet-min-width){
    & {
      max-width: $max-width-content;
      margin: 0 auto;
    }
  }
}

.container-fluid {
  padding: 0;
  display: inline-block;
}

.column {
  flex:  0 0 33.3%;

  @media screen and (min-width: $tablet-min-width) {
    & {
      flex: 0 0 25%;
    }
  }
}

.column-xs {
  padding: 10px 0 0;
  flex: 0 0 100%;

  @media screen and (min-width: $tablet-min-width) {
    & {
      padding: 0 10px;
      flex: 0 0 50%;
      order: 1;
    }
  }
}

.col-2 {
  width: 50%;
  display: inline-block;
}