@import "variables";

.ellipsis {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
    clear: both;
}

.splitter {
  margin-top: 10px;
}

.pull-right {
  text-align: right;
}

.text-inactive {
  color: $default-color;
}

.text-primary {
  color: $primary-color;
}