/* General colors */
$primary-color: #ce0033;
$default-color: #9a9a9a;
$background-color: #f3f3f3;

/* General */
$max-width-content: 720px;

/* Buttons colors */
$btn-start-color-default: #eeeeee;
$btn-end-color-default: #e3e3e3;
$btn-text-color-default: #909090;
$btn-border-color-default: #d7d7d7;

/* Media */
$tablet-min-width: 620px;
$desktop-min-width: 768px;
$large-device-min-width: 920px;

/* Navbar */
$navbar-background-color: #fff;
$menu-background-color: #393939;
$menu-item-text-color: #6f6f6f;
$menu-item-border-color: #000;
$menu-active-item-text-color: #cfcfcf;
$menu-active-item-background-color: #000;

/* Dropdown */
$dropdown-label-text-color: #555;
$dropdown-active-label-text-color: #000;

/* Label */
$label-primary-color: #ce0033;
$label-default-color: #777;
$label-text-color: #fff;

/* Tabs */
$tabs-section-background-color: #f3f3f3;
$tabs-label-background-color: #d9d9d9;
$tabs-label-border-color: #ddd;
$tabs-label-text-color: #aaa;
$tabs-active-label-text-color: #555;

/* Home page */
$home-page-border-color: #ddd;
$block-background-color: #fff;
$block-text-color: #f3f3f3;
$block-link-text-color: #555;
$block-active-link-text-color: #000;